<!--main-map-box-->
<div class="main-map-box cnt-section">
	<div class="inner-wrap">
		<div class="contacts-wrap">
			<div class="elm-cnt">
				<div class="elm-ico">
					<img src="./img/icons/location-att.svg" alt="">
				</div>
				<div class="cnt-title">
					<p>105005 г. Москва, <br>ул. Бауманская, д. 22, офис 302</p>
				</div>
			</div>
			<div class="elm-cnt">
				<div class="elm-ico">
					<img src="./img/icons/phone-att.svg" alt="">
				</div>
				<div class="cnt-title">
					<a href="tel:89036708282">+7 (903) 670-82-82</a> <br>
					<a href="tel:89256708282">+7 (925) 670-82-82</a> <br>
					<a href="tel:89266708282">+7 (926) 670-82-82</a> <br>
					<a href="tel:89636708282">+7 (963) 670-82-82</a>
				</div>
			</div>
			<div class="elm-cnt">
				<div class="elm-ico">
					<img src="./img/icons/mail-att.svg" alt="">
				</div>
				<div class="cnt-title"><a href="mailto:pochta@legal-express.ru">pochta@legal-express.ru</a></div>
			</div>
		</div>
	</div>
	<div class="map-wrap">
		<img src="./img/map.jpg" alt="" class="img-bg-cover">
	</div>
</div>
<!--/main-map-box-->
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="footer-info-wrap">
			<p>Copyright 1996-2021</p>
			<p>ООО “Юридический экспресс”, копирование материалов сайта запрещено законом о защите авторских прав</p>
		</div>
	</div>
</footer>
<!-- /footer -->
<div id="popup-message" class="popup-box" style="display: none;">
	<form action="/" class="frm-main">
		<div class="frm-row">
			<div class="frm-field-ico">
				<div class="frm-ico">
					<img src="./img/icons/user.svg" alt="">
				</div>
				<input type="text" placeholder="Ваше имя" class="form-input">
			</div>
		</div>
		<div class="frm-row">
			<div class="frm-field-ico">
				<div class="frm-ico">
					<img src="./img/icons/email.svg" alt="">
				</div>
				<input type="email" placeholder="Ваш email" class="form-input">
			</div>
		</div>
		<div class="frm-row">
			<div class="frm-field-ico">
				<div class="frm-ico">
					<img src="./img/icons/ms.svg" alt="">
				</div>
				<textarea placeholder="Сообщение" class="form-input"></textarea>
			</div>
		</div>
		<div class="frm-row">
			<div class="frm-field-cpt">
				<img src="./img/cpt.png" alt="" style="width: 100%;display: block;">
			</div>
		</div>
		<div class="frm-row">
			<div class="frm-select">
				<input type="checkbox" id="select-popup">
				<label for="select-popup">Даю согласие на обработку <a href="">Персональных данных</a></label>
			</div>
		</div>
		<div class="frm-row-submit">
			<button type="submit" class="btn button-main">
				<span class="button-title">Заказать услугу</span>
			</button>
		</div>
	</form>
</div>